body {
    direction:rtl;
    background-color:#dfebfb;
}
.img-responsive{
    margin-right:auto;
    margin-left:auto;
    margin-top:50px;
    display:block;
}
/*.btn-block {
    display: block;
    width: 15%;
    margin-left:auto;
    margin-right:auto;
}*/
.btn-primary {
    background-image: linear-gradient(to bottom, #e11b2c 0%, #265a88 100%);
}